[Unit]
Description=Configure services for Niri and DMS

[Service]
Type=oneshot
ExecStart=/usr/lib/shell-setup.sh

[Install]
WantedBy=multi-user.target
